<div class="container">


<div class="cards">
  <% @fridges.each do |fridge| %>
    <div class="card" style="width: 18rem;">
      <p class = "index-fridge-brand"><%= fridge.brand %></p>
      <img id="frigo_s" src="<%= fridge.photo %>" alt="...">
      <div class="card-body">
        <h4 class="card-title card-title-index"><%= fridge.name %></h4>
        <p class="card-text"><%= fridge.address %></p>
        <p class="card-text"><%= fridge.price %>€</p>
        <%= link_to 'Details', fridge_path(fridge), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>


</div>
