<div class="subnav">
  <ul class="list-inline d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="form-inline" style="padding-left: 40px;">
        <div class="col">
          <%= form_tag fridges_path, id: "search_form", method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "name, address, brand" %>
          <button class="main-button bigger-button" type="submit">Find a Fridge</button>
          <% end %>
        </div>
      </div>
    </div>
    <li class="element">
    <i class="far fa-copyright"></i>
    <span>BRAND</span>
    <i class="fas fa-chevron-down"></i>
    </li>
    <li class="element">
    <i class="fas fa-box"></i>
    <span>CAPACITY</span>
    <i class="fas fa-chevron-down"></i>
    </li>
  </ul>
</div>

<div class="d-flex justify-content-between" style="padding-top: 1 0px;">
  <div class="cards card-fridge">
    <% @fridges.each do |fridge| %>
        <div class="card" style="width: 18rem;">
          <p class = "index-fridge-brand"><%= fridge.brand %></p>
          <%= cl_image_tag fridge.photo.url, id: "frigo_s", height: 300, width: 300, crop: :fill %>
          <div class="card-body">
            <h4 class="card-title card-title-index"><%= fridge.name %></h4>
            <p class="card-text"><%= fridge.address %></p>
            <p class="card-text"><%= fridge.price %>€</p>
            <%= link_to '', fridge_path(fridge) %>
          </div>
        </div>
    <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



