
<div class="container">

    <%= simple_form_for @fridge, html: { class: "d-flex justify-content-between align-baseline" } do |f| %>
    <div class="card add-a-fridge">
      <h3>Tell us about you're fridge!</h3>
      <%= f.input :name %>
      <%= f.input :brand %>
      <%= f.input :capacity %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.button :submit, "Add you're fridge", :class => 'button-booking' %>
    </div>
    <div class="card import-a-picture">
      <div id="add-photo">
        <img width="300" class="hidden" id="photo-preview" src="">
        <%= image_tag "", height: 360, width: 286, crop: :fill, class: "hidden photo-place", id: "photo-preview" %>
      </div>
      <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo button-booking-picture'}, label: '📷 Upload a picture' %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <% end %>

</div>

