<h1>Fridges#create</h1>

<div class="row justify-content-center">
  <%= simple_form_for @fridge do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :photo %>
    <%= f.input :capacity %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>
</div>
