<div class="container d-flex align-items-center" style="margin-top: 20px;">
  <div class="container">

    <div class="card-flexbox-space-between">
      <div class="card-show">
        <div class="card-body card-head"><h3><%= @fridge.name %></h3></div>

        <div class="d-flex">
        <img id="show-resize-image" src="<%= @fridge.photo %>" alt="...">
          <div class="card-body card-show-information">
            <h4 class="card-title">Information</h4>
            <h5>Brand : <%= @fridge.brand %></h5>
            <h5>Capactity : <%=@fridge.capacity%> L</h5>
            <h5>Address : <%= @fridge.address %></h5>
          </div>
        </div>

        <div class="card-body">
          <h4 class="card-title">Description</h4>
          <p class="card-text"><%= @fridge.description %></p>
        </div>
      </div>


        <div class="card-body card-show-booking ">
          <h5 class="card-title">Book this fridge</h4>
            <%= simple_form_for [@fridge, @booking] do |f| %>
              <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
              <h5>Price : <%= @fridge.price %> €/days</h5>
              <br>
              <%= f.submit class: 'main-button bigger-button' %>
            <% end %>
        </div>

    </div>
  </div>
