<div>
  <div class="card-flexbox-space-between">
    <div class = card-main-image>plop
    </div>
    <div class="card-other-image">plop

    </div>
    </class>

  </div>

  <div class="container">

    <div class="card-flexbox-space-between">
      <div class="card card-show-info">
        <div class="card-body">
          <h5 class="card-title"><%= @fridge.name %></h4>
          <h5 class="card-title"><%= @fridge.brand %></h5>
              <h5 class="card-title"><%= @fridge.address %></h5>
          <p class="card-text"><%= @fridge.description %></p>
        </div>
      </div>

      <div class="card card-show-booking">
        <div class="card-body ">
        <h5 class="card-title">Booking</h4>
        <h5 class="card-title"><%= @fridge.price %> €</h5>
        <h5 class="card-title">From :<%#= @booking.start_date %></h5>
        <h5 class="card-title">To :<%#= @booking.end_date %></h5>
        <a href="#" class="card-link"><%= link_to "Book Now",  dashboard_path %></a>
      </div>
    </div>

  </div>
</div>



