<div>

  <div class="container">

    <div class="card-flexbox-space-between">
      <div class="card card-show-info">
        <img src="<%= @fridge.photo %>" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @fridge.name %></h4>
          <h5 class="card-title"><%= @fridge.brand %></h5>
          <h5 class="card-title"><%= @fridge.address %></h5>
          <p class="card-text"><%= @fridge.description %></p>
        </div>
      </div>

      <div class="card card-show-booking">
        <div class="card-body ">
          <h5 class="card-title">Booking</h4>
            <%= simple_form_for [@fridge, @booking] do |f| %>
              <h5 class="card-title"><%= @fridge.price %> €</h5>
              <%= f.input :start_date, as: :string %>
              <%= f.input :end_date, as: :string %>
              <%= f.submit class: 'btn btn-primary card-link' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



